body {
  margin: 0;
}

canvas {
  width: 100%;
  height: 100%;
}

#tile-selector {
  position: absolute;
  top: 70%;
  height: 30%;
  width: 100%;
  background-color: #15171b;
}

#tile-selector-heading {
  width: 100%;
  background-color: #4d535b;
  border-bottom: 1px solid #282c31;
  font-family: 'Lucida Grande', sans-serif;
  color: white;
  padding: 7px;
  font-size: 12px;
}

#tile-selector-body {
  display: flex;
  padding: 10px;
}

.tile-item {
  background-color: #3a4048;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.tile-item-canvas {
  border-radius: 6px;
}

.tile-item-title {
  font-family: 'Lucida Grande', sans-serif;
  font-size: 12px;
  align-self: center;
  justify-self: center;
  margin: 2px;
  color: white;
}
